<form [formGroup]="poeForm" (ngSubmit)="onSubmit()">
    <legend>Ajouter une POE</legend>
    <fieldset>
        <div class="form-field">
            <input type="text" formControlName="title" placeholder="Intitulé de la POE...">
            <div *ngIf="poeForm.controls['title'].errors && poeForm.controls['title'].touched">
                <span *ngIf="poeForm.controls['title'].hasError('required')">Le titre ne peut pas être vide</span>
                <span *ngIf="poeForm.controls['title'].hasError('minlength')">Intitulé trop court pour une
                    POE</span>
            </div>
        </div>
        <div class="form-field">
            <input type="text" formControlName="duration" placeholder="Durée (en heures) de la POE...">
            <div *ngIf="poeForm.controls['duration'].errors && poeForm.controls['duration'].touched">
                <span *ngIf="poeForm.controls['duration'].hasError('required')">La durée ne peut pas être vide</span>
                <span *ngIf="poeForm.controls['duration'].hasError('minlength')">Durée insuffisante pour une
                    POE</span>
            </div>
        </div>
    </fieldset>
    <div class="form-field">
        <button [disabled]="poeForm.invalid" type="submit">Ajouter</button>
    </div>
</form>