<h1>POE</h1>

<table>
    <caption>
        POE listing 2024
    </caption>
    <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let poe of poes">
            <td>&nbsp;</td>
            <td>{{poe.title}}</td>
            <td>{{poe.duration}}</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
    <tfoot>
        <!--<tr>
            <th scope="row" colspan="2"></th>
            <td></td>
        </tr>-->
    </tfoot>
</table>
<div>
    <button (click)="onClick()">Ajouter une POE</button>
</div>